# Project exclude paths
/.gradle/
/Topics/Image libraries/Drawing four circles/out/
/Topics/Image libraries/Drawing four circles/out/production/classes/
/Topics/Image libraries/Raster Images/out/
/Topics/Image libraries/Raster Images/out/production/classes/
/Topics/Image libraries/Representing images in Kotlin/out/
/Topics/Image libraries/Representing images in Kotlin/out/production/classes/
/Topics/Integers in action/Apple pie/out/
/Topics/Integers in action/Apple pie/out/production/classes/
/Topics/Integers in action/Integer division/out/
/Topics/Integers in action/Integer division/out/production/classes/
/Topics/Integers in action/Theory/out/
/Topics/Integers in action/Theory/out/production/classes/
/Topics/Integers in action/Underscore/out/
/Topics/Integers in action/Underscore/out/production/classes/
/Topics/Integers in action/Unsigned integers/out/
/Topics/Integers in action/Unsigned integers/out/production/classes/
/Topics/Jumps and returns/Correct jumping/out/
/Topics/Jumps and returns/Correct jumping/out/production/classes/
/Topics/Jumps and returns/First digit/out/
/Topics/Jumps and returns/First digit/out/production/classes/
/Topics/Jumps and returns/Getting letters from the Alphabet/out/
/Topics/Jumps and returns/Getting letters from the Alphabet/out/production/classes/
/Topics/Jumps and returns/Jumping out/out/
/Topics/Jumps and returns/Jumping out/out/production/classes/
/Topics/Jumps and returns/Placement of ships/out/
/Topics/Jumps and returns/Placement of ships/out/production/classes/
/Topics/Jumps and returns/Whole truth about continue/out/
/Topics/Jumps and returns/Whole truth about continue/out/production/classes/
/Topics/Standard input/Four numbers/out/
/Topics/Standard input/Four numbers/out/production/classes/
/Topics/The try-catch statement/Theory/out/
/Topics/The try-catch statement/Theory/out/production/classes/
/Watermark/task/build/
/Watermark/task/out/production/classes/